@implements IDisposable

<ActionModal @ref=_modalRef Title="Filter cards" PositionClass="top-18 !right-0 w-full">
    <div class="form">
        <div class="form-group">
            <label for="text" class="form-label-category">Text, description or card code</label>
            <input value="@Model.Text" id="text" class="input-field" @oninput="OnSearchChanged"/>
        </div>

        <div class="form-group">
            <label class="form-label-category">Completion</label>
            <div class="flex flex-row items-center space-x-2">
                <span class="text-xs">Exclude completed cards</span>
                <input type="checkbox" class="toggle" checked=@(Model.ExcludeCompleted) @onchange="ToggleExcludeCompleted">
            </div>
        </div>

        <div class="form-group">
            <div class="flex flex-row items-center gap-1 text-xs">
                <label class="form-label-category">Assigned users</label>

                @if (BoardMembers.Count > 2)
                {
                    if (Model.ExpandAssignedUsersSection)
                    {
                        <i class="fa fa-chevron-down edit-icon" @onclick="SwitchUserAssignedCollapse" title="Collapse"></i>
                    }

                    else
                    {
                        <i class="fa fa-chevron-up edit-icon" @onclick="SwitchUserAssignedCollapse" title="Expand"></i>
                    }
                }
            </div>
            <div class="flex flex-wrap gap-1">
                <div class="rounded-button flex w-max cursor-pointer flex-row items-center gap-2 px-2 py-1 text-sm transition-all ease-in-out select-none @(Model.IncludeUnassigned ? "bg-secondary dark:bg-secondaryDark text-primary dark:text-primaryDark" : "bg-background dark:bg-bgDark dark:text-textDark") hover:bg-secondary" @onclick="ToggleUnassignedFilter">
                    <span class="material-symbols-rounded g-icon self-center">
                        account_circle_off
                    </span>
                    <label>No assignee</label>
                </div>
                @foreach (var member in Model.ExpandAssignedUsersSection ? BoardMembers : BoardMembers.Take(2))
                {
                    <div class="rounded-button flex w-max cursor-pointer flex-row items-center gap-2 px-2 py-1 transition-all ease-in-out select-none @(Model.AssignedUserIds.Contains(member.Id) ? "bg-secondary dark:bg-secondaryDark text-primary dark:text-primaryDark" : "bg-background dark:bg-bgDark dark:text-textDark") hover:bg-secondary" @onclick="() => ToggleUserFilter(member.Id)">
                        <div class="h-8 w-8 rounded-lg bg-cover bg-center" style="background-image: url('@Constants.ACCESS_UPLOADED_IMAGES_PATH/@member.ProfilePictureFileName');"></div>
                        @{
                            var name = member.DisplayName ?? "";
                            var lastSpace = name.LastIndexOf(' ');

                            var firstPart = lastSpace > 0 ? name[..lastSpace] : name;
                            var secondPart = lastSpace > 0 ? name[(lastSpace + 1)..] : "";
                        }
                        <div class="flex flex-col">
                            <span class="text-xs">@firstPart</span>
                            <span class="text-sm font-semibold uppercase">@secondPart</span>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            <div class="flex flex-row items-center gap-1 text-xs">
                <label class="form-label-category">Labels</label>

                @if (BoardLabels.Count > 3)
                {
                    if (Model.ExpandLabelsSection)
                    {
                        <i class="fa fa-chevron-down edit-icon" @onclick="SwitchLabelsCollapse" title="Collapse"></i>
                    }

                    else
                    {
                        <i class="fa fa-chevron-up edit-icon" @onclick="SwitchLabelsCollapse" title="Expand"></i>
                    }
                }
            </div>
            <div class="grid gap-2 xs:grid-cols-2">
                @if (BoardLabels != null && BoardLabels.Any())
                {
                    @foreach (var label in Model.ExpandLabelsSection ? BoardLabels : BoardLabels.Take(3))
                    {
                        <div class="flex flex-row gap-4 xs:justify-between xs:gap-1">
                            <LabelView Label="label" />
                            <input type="checkbox" class="toggle" checked=@(Model.LabelIds.Contains(label.Id)) @onchange="() => ToggleLabelFilter(label.Id)">
                        </div>
                    }
                }
                else
                {
                    <div class="text-xs text-gray-500">No labels available.</div>
                }
            </div>
        </div>

        <button type="button" class="btn btn-yellow font-bold" @onclick="ResetFilters">Reset filters</button>
    </div>
</ActionModal>

@code {
    [Parameter]
    public EventCallback SearchUpdated { get; set; }

    [Parameter]
    public required FilterCardsModel Model { get; set; }

    [Parameter]
    public required List<User> BoardMembers { get; set; } = [];

    [Parameter]
    public required List<Label> BoardLabels { get; set; } = [];

    private async Task ToggleLabelFilter(int labelId)
    {
        if (Model.LabelIds.Contains(labelId))
            Model.LabelIds.Remove(labelId);
        else
            Model.LabelIds.Add(labelId);
        await SearchUpdated.InvokeAsync();
    }

    private ActionModal? _modalRef;
    private System.Timers.Timer _debounceTimer = new System.Timers.Timer(Constants.Limits.DEBOUNCE_TIME_IN_MS);

    public void Open(string triggerElementId) 
    {
        _modalRef?.Open(triggerElementId);
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        _debounceTimer.Elapsed += async (_, __) =>
        {
            await InvokeAsync(async () => await SearchUpdated.InvokeAsync());
        };
        _debounceTimer.AutoReset = false;
    }

    private async Task SwitchUserAssignedCollapse()
    {
        Model.ExpandAssignedUsersSection = !Model.ExpandAssignedUsersSection;
        StateHasChanged();
        await Task.Delay(1);
        await _modalRef!.OnResized();
    }

    private async Task SwitchLabelsCollapse()
    {
        Model.ExpandLabelsSection = !Model.ExpandLabelsSection;
        StateHasChanged();
        await Task.Delay(1);
        await _modalRef!.OnResized();
    }

    private void OnSearchChanged(ChangeEventArgs e)
    {
        Model.Text = e.Value?.ToString() ?? string.Empty;

        _debounceTimer.Stop();
        _debounceTimer.Start();
    }

    private async Task ResetFilters()
    {
        Model.ClearFilters();
        await SearchUpdated.InvokeAsync();
    }

    private async Task ToggleUserFilter(int userId)
    {
        if (Model.AssignedUserIds.Contains(userId))
            Model.AssignedUserIds.Remove(userId);
        else
            Model.AssignedUserIds.Add(userId);
        await SearchUpdated.InvokeAsync();
    }

    private async Task ToggleUnassignedFilter()
    {
        Model.IncludeUnassigned = !Model.IncludeUnassigned;
        await SearchUpdated.InvokeAsync();
    }

    private async Task ToggleExcludeCompleted()
    {
        Model.ExcludeCompleted = !Model.ExcludeCompleted;
        await SearchUpdated.InvokeAsync();
    }

    public void Dispose()
    {
        _debounceTimer.Stop();
        _debounceTimer.Dispose();
    }
}