@page
@model ConfirmMailModel

<main class="auth-bg">
    <section class="auth-card">
        <div class="flex flex-col gap-1">
            <h1 class="font-extrabold text-3xl">Confirm e-mail</h1>
            <label class="opacity-40">We have sent a code to the provided e-mail address</label>
        </div>
        @using (Html.BeginForm(FormMethod.Post, true, new { @class = "auth-form" }))
        {
            @Html.HiddenFor(model => model.Input.EmailAddress)

            <div class="auth-inp-label">
                @Html.LabelFor(model => model.Input.Code, new { @class = "auth-label" })
                @Html.EditorFor(model => model.Input.Code, new { htmlAttributes = new { @class = "auth-input" } })
                @Html.ValidationMessageFor(model => model.Input.Code)
            </div>

            @Html.AntiForgeryToken()

            <button class="auth-button" type="submit">Submit</button>
            <div class="flex flex-row justify-center items-center gap-1">
                <div class="text-xs text-gray-400 font-normal">Wrong e-mail?</div>
                <a class="auth-link" href="/auth/register">Back to creating an account</a>
            </div>
        }
    </section>
</main>