@page
@model ConfirmMailModel

<div class="auth-items-group">
    <h1>Confirm e-mail</h1>
    <p class="subtext">We have sent a code to the provided e-mail address</p>
</div>
@using (Html.BeginForm(FormMethod.Post, true, new { @class = "auth-form" }))
{
    <div class="auth-section">
        @Html.HiddenFor(model => model.Input.EmailAddress)

        <div class="auth-inp-label">
            @Html.LabelFor(model => model.Input.Code, new { @class = "auth-label" })
            @Html.EditorFor(model => model.Input.Code, new { htmlAttributes = new { @class = "auth-input" } })
            @Html.ValidationMessageFor(model => model.Input.Code)
        </div>

        @Html.AntiForgeryToken()
    </div>

    <div class="auth-items-group">
        <button class="btn btn-yellow" type="submit">Submit</button>
        <span class="subtext mx-auto w-min">or</span>
        <a class="btn btn-purple" href="/auth/register">Back to creating an account</a>
    </div>
}