@page
@model LoginModel

<div class="auth-items-group">
    <h1>Hey, there 👋</h1>
    <p class="subtext">Use your credentials to log in</p>
</div>
@using (Html.BeginForm(FormMethod.Post, true, new { @class = "auth-form" }))
{
    <div class="auth-section">
        <div class="auth-inp-label">
            @Html.LabelFor(model => model.Input.Email, new { @class = "auth-label" })
            @Html.EditorFor(model => model.Input.Email, new { htmlAttributes = new { @class = "auth-input" } })
            @Html.ValidationMessageFor(model => model.Input.Email)
        </div>
        <div class="auth-inp-label">
            @Html.LabelFor(model => model.Input.Password, new { @class = "auth-label" })
            @Html.EditorFor(model => model.Input.Password, new { htmlAttributes = new { @class = "auth-input" } })
            @Html.ValidationMessageFor(model => model.Input.Password)
            <a class="auth-link" href="/auth/forgotpassword">Forgotten password?</a>
        </div>

        @Html.AntiForgeryToken()
    </div>

    <div class="auth-items-group">
        <button class="btn btn-yellow" type="submit">Log in</button>
        <span class="subtext mx-auto w-min">or</span>
        <a class="btn btn-purple" href="/auth/register">Create one!</a>
    </div>
}