@page
@model RegisterModel

<div class="auth-items-group">
    <h1>Welcome!</h1>
    @if (Constants.SMTP_ENABLED && !Constants.DISABLE_USER_SIGNUPS)
    {
        <p class="subtext">Please provide some info for us to create an account for you</p>
    }
</div>
@if (Constants.DISABLE_USER_SIGNUPS || !Constants.SMTP_ENABLED)
{
    <div class="auth-section">
        @if (Constants.DISABLE_USER_SIGNUPS)
        {
            <div class="warning">User signups are currently disabled. Please contact the administrator if you need an account.</div>
        }
        else
        {
            <div class="warning">SMTP is not configured, please contact the administrator to create your account manually.</div>
        }
        <a class="btn btn-yellow" href="/auth/login">Log in to existing one</a>
    </div>
}
else
{
    @using (Html.BeginForm(FormMethod.Post, true, new { @class = "auth-form" }))
    {
        <div class="auth-section">
            <div class="auth-inp-label">
                @Html.LabelFor(model => model.Input.DisplayName, new { @class = "auth-label" })
                @Html.EditorFor(model => model.Input.DisplayName, new { htmlAttributes = new { @class = "auth-input" } })
                @Html.ValidationMessageFor(model => model.Input.DisplayName)
            </div>
            <div class="auth-inp-label">
                @Html.LabelFor(model => model.Input.Email, new { @class = "auth-label" })
                @Html.EditorFor(model => model.Input.Email, new { htmlAttributes = new { @class = "auth-input" } })
                @Html.ValidationMessageFor(model => model.Input.Email)
            </div>
            <div class="auth-inp-label">
                @Html.LabelFor(model => model.Input.Password, new { @class = "auth-label" })
                @Html.EditorFor(model => model.Input.Password, new { htmlAttributes = new { @class = "auth-input" } })
                @Html.ValidationMessageFor(model => model.Input.Password)
            </div>
            <div class="auth-inp-label">
                @Html.LabelFor(model => model.Input.ConfirmPassword, new { @class = "auth-label" })
                @Html.EditorFor(model => model.Input.ConfirmPassword, new { htmlAttributes = new { @class = "auth-input" } })
                @Html.ValidationMessageFor(model => model.Input.ConfirmPassword)
            </div>

            @Html.AntiForgeryToken()
        </div>

        <div class="auth-items-group">
            <button class="btn btn-yellow" type="submit">Create new account</button>
            <span class="subtext mx-auto w-min">or</span>
            <a class="btn btn-purple" href="/auth/login">Log in to existing one</a>
        </div>
    }
}