@inject NavigationManager _navigationManager
@inject IDbContextFactory<DataContext> _dbContextFactory

<EditBoardModal @ref="_editBoardModal" OnSubmit="OnEdit" />
<CloneBoardModal @ref="_cloneBoardModal" OnCloned="OnEdit" />

<div class="board-card w-full" @onclick='GoToBoard'>

    <div class="flex w-full flex-row justify-between space-x-12">
        <div class="h-24 w-24 rounded-lg bg-pink-600" title="project image">
        </div>
        
        <div class="aligned-middle flex flex-row gap-1">
            <button class="add btn-transparent btn flex h-min !p-1" @onclick="MakeFavorite" @onclick:stopPropagation="true" title="@(Board.Favorites.Any(x => x.UserId.Equals(_user.Id)) ? "Remove from favorites" : "Add to favorites")">
                <span class="@(Board.Favorites.Any(x => x.UserId.Equals(_user.Id)) ? "material-symbols-filled  " : "material-symbols-rounded  ") g-icon">
                    kid_star
                </span>
            </button>
            @if (IsAdmin)
            {
                <Dropdown Actions='new() {
                        { "Edit board", () => _editBoardModal?.Open(Board.Id) },
                        { "Clone board", () => _cloneBoardModal?.Open(Board) },
                        { "Delete board", async () => await DeleteConfirmationDialog.OpenDialog(Board) }
                    }'>
                    <div class="btn-transparent btn flex h-min !p-1">
                    <span class="material-symbols-rounded g-icon self-center" title="Board options">
                            more_horiz
                        </span>
                    </div>
                </Dropdown>
            }
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <h4>@Board.Name</h4>
        <label class="subtext">@Board.Description</label>
    </div>

    <div class="grid grid-cols-2 gap-2">
        <div class="flex flex-col">
            @{
                var lastVisit = Board.LastVisits.FirstOrDefault(x => x.UserId.Equals(_user.Id));
            }
            <label class="subtext !text-xs">Last change</label>
            <p class="text-secondary dark:text-secondaryDark">@(lastVisit is null ? "never" : lastVisit.VisitTime.ToElapsedString())</p>
        </div>
        <div class="flex flex-col">
            <label class="subtext !text-xs">Team</label>
            @{
                var index = 0;
            }
            @foreach (var member in _members)
            {
                var extraClass = index > 0 ? "stack-avatars" : "";
                <div class="avatar @extraClass"
                     style="background-image: url('@Constants.ACCESS_UPLOADED_IMAGES_PATH/@member.ProfilePictureFileName');">
                </div>
                index++;
            }
        </div>
        <div class="flex flex-col">
            @{
                var trackedTime = new TimeSpan(Board.Columns.SelectMany(x => x.Cards).SelectMany(x => x.TimeRecords).Select(x => ((x.EndedAt ?? DateTime.Now) - x.StartedAt).Ticks).Sum()).ToElapsedString(true);
            }
            @if (!string.IsNullOrWhiteSpace(trackedTime))
            {
                <label class="subtext !text-xs">Total time</label>
                <p class="text-secondary dark:text-secondaryDark">@trackedTime</p>
            }
        </div>
    </div>        
</div>

@code {
    [CascadingParameter(Name = Constants.CascadingParameters.CurrentAccount)]
    private User _user { get; set; } = default!;

    [Parameter]
    public EventCallback OnEdit { get; set; }

    [Parameter]
    public required DeleteConfirmationDialog<Board> DeleteConfirmationDialog { get; set; }

    [Parameter]
    public EventCallback<bool> OnFavorite { get; set; }

    [Parameter]
    public required Board Board { get; set; }

    private List<User> _members
    {
        get => (Board.Memberships.Select(x => x.User).Concat(Board.Project?.Memberships?.Select(x => x.User) ?? [])).DistinctBy(x => x.Id).ToList();
    }

    [Parameter]
    public bool IsAdmin { get; set; }

    private EditBoardModal? _editBoardModal;
    private CloneBoardModal? _cloneBoardModal;

    private void GoToBoard() {
        _navigationManager.NavigateTo(_navigationManager.BaseUri + "boards/" + Board.Id);
    }

    private async Task MakeFavorite(MouseEventArgs e)
    {
        using var db = _dbContextFactory.CreateDbContext();

        var board = await db.Boards
            .Include(x => x.Favorites)
            .FirstOrDefaultAsync(x => x.Id.Equals(Board.Id));

        if (board is null)
            return;

        var existingFavorite = board.Favorites.FirstOrDefault(x => x.UserId.Equals(_user.Id));

        bool newState = false;

        if (existingFavorite is null)
        {
            board.Favorites.Add(new()
            {
                UserId = _user.Id,
                BoardId = board.Id
            });
            newState = true;
        }
        else
            board.Favorites.Remove(existingFavorite);

        await db.SaveChangesAsync();
        await OnFavorite.InvokeAsync(newState);
    }
}