@inject IDbContextFactory<DataContext> _dbContextFactory

<div id="@Card.Id" data-blocked="@Card.Flagged.ToString()" class="task-card" @onclick="() => EditCardModal.Open(Card.Id, Members, Columns)">
    <div class="flex flex-row items-center justify-between gap-2">
        <div class="flex flex-row flex-wrap items-center justify-start gap-1">
            <PriorityLabel Priority="Card.Priority"/>
            @foreach(var label in Card.Labels) {
                <LabelView Label="label"></LabelView>
            }
        </div>

        <Dropdown Actions='new() {
                                { "Edit task", async () => await EditCardModal.Open(Card.Id, Members, Columns) },
                                { "Delete task", () => DeleteCardModal?.OpenDialog(Card) },
                                { $"{(Card.Flagged ? "Unmark" : "Mark")} as flagged", async () => await ChangeFlaggedStatus() }
                            }'>
            <div class="btn-transparent btn flex h-full">
                <span class="material-symbols-rounded g-icon self-center" title="Card options">
                    more_horiz
                </span>
            </div>
        </Dropdown>
    </div>
    <h5 class="cursor-pointer break-normal break-words">
        @Card.Name
    </h5>
    <div class="grid grid-cols-2 gap-1">
        <span class="text-xs text-subtext dark:text-subtext">
            #ID
        </span>
        <span class="text-xs text-subtext dark:text-subtext">
            Assigned
        </span>
        <span class="text-xs text-secondary dark:text-secondary" title="Card ID">
            @(BoardCode)-@Card.Number
        </span>
        <div class="flex">
            @{
                var i = 0;
            }
            @foreach (var assignee in Card.Assignees)
            {
                string id = $"avatar_{i}";
                <div id="@id" class="avatar-mini @(i > 0 ? "stack-avatars" : "") self-center" style="background-image: url('@Constants.ACCESS_UPLOADED_IMAGES_PATH/@assignee.ProfilePictureFileName');"></div>
            }
        </div>
    </div>
    <div class="text-card-data-points flex w-full flex-row flex-wrap items-center justify-start gap-1 text-xs">
        @if (Card.Deadline is not null)
        {
            DeadlineColor color = Column.Finished ? DeadlineColor.Green : (DateTime.Compare(Card.Deadline.Value, DateTime.Now) < 0 ? DeadlineColor.Red : (Card.Deadline.Value.Date == DateTime.Today.Date ? DeadlineColor.Yellow : DeadlineColor.Default));
            <label data-coloring="@color" class="card-data-point data-[coloring=Green]:bg-lime-500 data-[coloring=Yellow]:bg-yellow-500 data-[coloring=Red]:bg-red">
                <span class="material-symbols-rounded self-center" title="Dedline">
                    schedule
                </span>
                @Card.Deadline.Value.ToShortString()
            </label>
        }
        @if (Card.Attachments.Any())
        {
            <label class="card-data-point">
                <span class="material-symbols-rounded self-center" title="Attached files">
                    attach_file
                </span>
                @Card.Attachments.Count
            </label>
        }
        @if (Card.Subtasks.Any())
        {
            <label class="card-data-point">
                <span class="material-symbols-rounded self-center" title="Tasks done">
                    task_alt
                </span>
                @Card.Subtasks.Where(x => x.Completed).Count()/@Card.Subtasks.Count
            </label>
        }
        @{
            var trackedTime = new TimeSpan(Card.TimeRecords.Select(x => ((x.EndedAt ?? DateTime.Now) - x.StartedAt).Ticks).Sum()).ToElapsedString(true);
        }
        @if (!string.IsNullOrWhiteSpace(trackedTime))
        {
            <label class="card-data-point">
                <span class="material-symbols-rounded self-center" title="Time tracked">
                    timer
                </span>
                @trackedTime
            </label>
        }
        @if (Card.Flagged)
        {
            <label class="card-data-point text-card-blocked-text">
                <span class="material-symbols-rounded self-center" title="Flagged">
                    flag_2
                </span>
                Flagged
            </label>
        }
        @if (Card.SnoozedUntil is not null)
        {
            <label class="card-data-point">
                <span class="material-symbols-rounded self-center" title="Snoozed until">
                    bedtime
                </span>
                @(Card.SnoozedUntil.Value.ToShortString())
            </label>
        }
        @if (!string.IsNullOrWhiteSpace(Card.Description))
        {
            <label class="card-data-point">
                <span class="material-symbols-rounded self-center" title="Has description">
                    subject
                </span>
            </label>
        }
        @if (Card.RepeatInfo is not null)
        {
            <label class="card-data-point">
                <span class="material-symbols-rounded self-center" title="Repeating task">
                    sync
                </span>
                @(LongFormRepeat ? $"{Card.RepeatInfo.GetRepeatString()}, next repeat {_nextRepeat}" : string.Empty)
            </label>
        }
    </div>
</div>

@code {
    [Parameter]
    public required EditCardModal EditCardModal {get; set;}

    [Parameter]
    public required DeleteConfirmationDialog<Card> DeleteCardModal { get; set; }

    [Parameter]
    public required Card Card { get; set; }

    [Parameter]
    public required Column Column { get; set; }

    [Parameter]
    public required string BoardCode { get; set; }

    [Parameter]
    public required List<User> Members { get; set; }

    [Parameter]
    public required List<Column> Columns { get; set; }

    [Parameter]
    public bool LongFormRepeat { get; set; }

    [Parameter]
    public EventCallback OnCardUpdated { get; set; }

    private string? _nextRepeat;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if(Card.RepeatInfo is not null)
            _nextRepeat = Card.CalculateNextRepeat(DateTime.Now).ToReadableStringWithTime();
    }

    private async Task ChangeFlaggedStatus()
    {
        using var db = _dbContextFactory.CreateDbContext();

        var card = await db.Cards.FindAsync(Card.Id);

        if (card is null)
            return;

        card.Flagged = !card.Flagged;
        Card.Flagged = card.Flagged;

        await db.SaveChangesAsync();
        StateHasChanged();
        await OnCardUpdated.InvokeAsync();
    }
}
