<div class="label" 
    style="background-color: rgba(@LabelEntity.BackgroundColor.R, @LabelEntity.BackgroundColor.G, @LabelEntity.BackgroundColor.B, @LabelEntity.BackgroundColor.A); color: rgba(@LabelEntity.TextColor.R, @LabelEntity.TextColor.G, @LabelEntity.TextColor.B, @LabelEntity.TextColor.A);">
    @LabelEntity.Name
</div>

@code {
    [Parameter]
    public required Base.Entities.Label LabelEntity { get; set; }
}
