<div class="label" 
    style="background-color: rgba(@Label.BackgroundColor.R, @Label.BackgroundColor.G, @Label.BackgroundColor.B, @Label.BackgroundColor.A); color: rgba(@Label.TextColor.R, @Label.TextColor.G, @Label.TextColor.B, @Label.TextColor.A);">
    @Label.Name
</div>

@code {
    [Parameter]
    public required Label Label { get; set; }
}
