@if(_triggeredShow)
{
	<div data-active="@_shown.ToString()" class='h-visible-screen fixed top-0 left-0 @(ForceOverlay ? "z-50" : "z-10") flex w-screen items-center justify-center bg-backdrop/0 transition-all ease-in-out data-[active=True]:bg-backdrop/40' @onmousedown="Cancel" @onkeydown="this.OnKey">
		<div data-active="@_shown.ToString()" class='m-5 flex flex-col divide-y overflow-hidden rounded-lg bg-modal/0 transition-all ease-in-out data-[active=False]:translate-y-[500%] data-[active=True]:bg-modal/100 @(Large ? "w-full max-w-full md:max-w-3xl" : "max-w-[1300px]") @Class' @onmousedown:stopPropagation=true>
			@if(!DisableButtons || EnableTitle) 
			{
				<section class="flex flex-row items-center justify-between gap-10 px-7 py-3">
					<h5>@Title</h5>
					<i class="fa fa-xmark card-button" @onclick="Cancel" title="Close"></i>
				</section>
				<section @ref=_childContent class="max-h-[80vh] overflow-y-auto px-7 py-5">@ChildContent</section>
				@if (!DisableButtons)
				{
					<section class="flex flex-row justify-end gap-5 px-7 py-5">
						<button class="bg-cancel-button px-5 py-2 hover:bg-cancel-button-hover" @onclick="Cancel">Cancel</button>
						<button class='px-5 py-2 @(RedSubmit ? "bg-red-button hover:bg-red-button-hover" : "")' @onclick="Submit">Submit</button>
					</section>
				}
			} else {
				@ChildContent
			}
		</div>
	</div>
}

@code {
	[Parameter]
	public required string Title { get; set; }

	[Parameter]
    public string Class { get; set; } = string.Empty;

	[Parameter]
	public required RenderFragment ChildContent { get; set; }

	[Parameter]
	public EventCallback OnCancel { get; set; }

	[Parameter]
	public EventCallback OnSubmitAttempted { get; set; }

	[Parameter]
	public EventCallback OnClose { get; set; }

	[Parameter]
	public EventCallback OnShown { get; set; }

	[Parameter]
	public bool RedSubmit { get; set; }

	[Parameter]
	public bool DisableButtons { get; set; }

	[Parameter]
	public bool EnableTitle { get; set; }

	[Parameter]
	public bool Large { get; set; }

	[Parameter]
	public bool ForceOverlay { get; set; }

	private bool _triggeredShow;
	private bool _shown;
	private ElementReference? _childContent;

	public async Task Show() 
	{
		if(!_triggeredShow) 
		{
			_triggeredShow = true;
			StateHasChanged();
			await Task.Delay(5);
		}
		_shown = true;
		StateHasChanged();
		await OnShown.InvokeAsync();
	}

	public async Task Close()
	{
		_shown = false;
		StateHasChanged();
		await Task.Delay(200);
		_triggeredShow = false;
		StateHasChanged();
	}

	private async Task Cancel()
	{
		await OnClose.InvokeAsync();

		await OnCancel.InvokeAsync();

		await Close();
	}

	private async Task Submit()
	{
		await OnSubmitAttempted.InvokeAsync();
	}

	private async Task OnKey(KeyboardEventArgs e)
	{
		switch(e.Key)
		{
			case "Enter":
			{
				if(_childContent.HasValue)
					await _childContent.Value.FocusAsync();

				await OnSubmitAttempted.InvokeAsync();
				break;
			}
			case "Escape":
				await Cancel();
                break;
		}
	}
}