@if(_triggeredShow)
{
	<div data-active="@_shown.ToString()" class='bg-background/0 fixed top-0 left-0 @(ForceOverlay ? "z-50" : "z-10") flex h-screen w-full items-center justify-center transition-all ease-in-out dark:bg-bgDark/0 data-[active=True]:bg-background/70 dark:data-[active=True]:bg-bgDark/70' @onmousedown="Cancel" @onkeydown="this.OnKey">
		<div role="dialog" aria-modal="true" data-active="@_shown.ToString()" class='bg-primary/0 island divide-subtext m-5 flex w-[90vw] max-w-2xl flex-col divide-y overflow-hidden transition-all ease-in-out dark:divide-subtextDark dark:bg-primaryDark/0 data-[active=True]:bg-primary data-[active=False]:translate-y-[500%] dark:data-[active=True]:bg-primaryDark @Class' @onmousedown:stopPropagation=true>
			@if(!DisableButtons || EnableTitle) 
			{
				<section class="flex flex-row items-center justify-between gap-10 py-3">
					<h3>@Title</h3>
					<button @onclick="Cancel" title="Close" class="material-symbols-rounded">
						close
					</button>
				</section>
				<section @ref=_childContent class="max-h-[80vh] overflow-y-auto py-5">@ChildContent</section>
				@if (!DisableButtons)
				{ 
					<section class="flex flex-row justify-end gap-5 py-5">
						<button class="btn btn-light" @onclick="Cancel">@CancelButtonText</button>
						<button class='btn @(RedSubmit ? "btn-red" : "btn-yellow")' @onclick="Submit">@SubmitButtonText</button>
					</section>
				}
			} else {
				@ChildContent
			}
		</div>
	</div>
}

@code {
	[Parameter]
	public required string Title { get; set; }

	[Parameter]
	public string Class { get; set; } = string.Empty;

	[Parameter]
	public required RenderFragment ChildContent { get; set; }

	[Parameter]
	public EventCallback OnCancel { get; set; }

	[Parameter]
	public EventCallback OnSubmitAttempted { get; set; }

	[Parameter]
	public EventCallback OnClose { get; set; }

	[Parameter]
	public EventCallback OnShown { get; set; }

	[Parameter]
	public bool RedSubmit { get; set; }

	[Parameter]
	public bool DisableButtons { get; set; }

	[Parameter]
	public bool EnableTitle { get; set; }

	[Parameter]
	public bool Large { get; set; }

	[Parameter]
	public bool ForceOverlay { get; set; }

	[Parameter]
	public string CancelButtonText { get; set; } = "Cancel";

	[Parameter]
    public string SubmitButtonText { get; set; } = "Submit";

	private bool _triggeredShow;
	private bool _shown;
	private ElementReference? _childContent;

	public async Task Show() 
	{
		if(!_triggeredShow) 
		{
			_triggeredShow = true;
			StateHasChanged();
			await Task.Delay(5);
		}
		_shown = true;
		StateHasChanged();
		await OnShown.InvokeAsync();
	}

	public async Task Close()
	{
		_shown = false;
		StateHasChanged();
		await Task.Delay(200);
		_triggeredShow = false;
		StateHasChanged();
	}

	private async Task Cancel()
	{
		await OnClose.InvokeAsync();

		await OnCancel.InvokeAsync();

		await Close();
	}

	private async Task Submit()
	{
		await OnSubmitAttempted.InvokeAsync();
	}

	private async Task OnKey(KeyboardEventArgs e)
	{
		switch(e.Key)
		{
			case "Enter":
			{
				if(_childContent.HasValue)
					await _childContent.Value.FocusAsync();

				await OnSubmitAttempted.InvokeAsync();
				break;
			}
			case "Escape":
				await Cancel();
                break;
		}
	}
}