@page "/boards/{Id:int}/{CardId:int?}"
@inject NavigationManager _navigationManager
@inject IDbContextFactory<DataContext> _dbContextFactory
@inject CardNumberingService _cardNumberingService
@inject ProtectedLocalStorage _protectedLocalStorage
@inject IJSRuntime _js
@inherits NotifiableBase

<CreateColumnModal @ref="_createColumnModal" OnSubmit="async () => await RunNotification(typeof(Column), OperationType.Added)" />
<EditColumnModal @ref="_editColumnModal" OnSubmit="async () => await RunNotification(typeof(Column), OperationType.Edited)" />
<DeleteConfirmationDialog T="Column" @ref="_deleteColumnModal" OnConfirmed="HandleUpdate" />
<DeleteConfirmationDialog T="Card" @ref="_deleteTaskModal" OnConfirmed="HandleUpdate" />
<EditCardModal @ref="_editCardModal" OnSubmit="OnTaskEdited" />
<EditBoardMembershipsModal @ref="_editBoardMembershipsModal" OnSubmit="async () => await RunNotification(typeof(BoardMembership), OperationType.Edited)" />

<div class="flex w-screen flex-col divide-y divide-tab-outline">
    <header class="flex flex-row items-center justify-end gap-1 px-2 py-2 text-2xl font-bold sm:gap-5 sm:px-12">
        @if(_board is null)
        {
            <Spinner/>
        } else {
            <label class="mr-auto text-sm text-ellipsis md:text-xl">@_board.Name <label class="text-2xs font-normal text-ellipsis">(Project @_board.Project.Name)</label></label>

                <div class="hidden flex-row gap-1 2xs:flex">
                    @{
                        var i = 0;
                    }
                    @foreach(var member in _members)
                    {
                        string id = $"avatar_{i}";
                        <div id="@id" class="avatar stack-avatars" style="background-image: url('@Constants.ACCESS_UPLOADED_IMAGES_PATH/@member.ProfilePictureFileName');"
                            @onclick="() => MainLayout.UserInfoModal?.Open(id, member.Id)"></div>
                        i++;
                    }
                    @if (IsAdmin())
                    {
                        <div class="avatar add" @onclick="() => _editBoardMembershipsModal?.Open(_board.Id, _board.ProjectId)">
                            <i class="fa fa-plus text-sm"></i>
                        </div>
                    }
                </div>

                @if (IsAdmin())
                {
                    <a href="/boards/settings/@_board.Id"><i class="fa fa-gear icon-button"></i></a>
                    <i class="fa fa-chart-simple icon-button" @onclick="SwitchStatsDisplay"></i>
                }
        }
    </header>
    <section class='flex w-screen flex-row divide-x divide-tab-outline'>
        <!-- Board section -->
        @if (_board is not null)
        {
            <section class="w-full flex-row gap-5 overflow-x-auto @(_preferences.ShowStats ? "hidden md:flex" : "flex") py-6">
                <SortableList Class="ml-12 flex flex-row gap-5" Items="_board.Columns.OrderBy(x => x.Index).ToList()" Context="column" OnUpdate="OnColumnMoved" Direction="horizontal" Handle=".drag-toggle" Pull=false Put=false>
                    <SortableItemTemplate>
                        @{
                            var cardsCount = column.Cards.Where(x => !x.SnoozedUntil.HasValue).Count();
                        }
                        <div class="board-column gap-1">
                            <div class="flex w-full flex-row items-center justify-between">
                                <div class="flex flex-row items-center gap-2">
                                    <label>
                                        @column.Name
                                    </label>
                                    <span class='text-2xs rounded-full p-0.5 shadow-sm @(column.MaxCards != 0 && cardsCount >= column.MaxCards ? "bg-column-limit-reached" : "bg-card-bg")'>
                                        @if(column.MaxCards == 0)
                                        {
                                            <span>@cardsCount</span>
                                        } else {
                                            <span>@cardsCount/@column.MaxCards</span>
                                        }
                                    </span>
                                    @if (column.Collapsed)
                                    {
                                        <label class="text-xs font-normal">(Collapsed)</label>
                                    }
                                </div>

                                @if (IsAdmin())
                                {
                                    <div class="flex flex-row items-center gap-2">
                                        <i class="fa fa-up-down-left-right drag-toggle icon-button cursor-move text-icon"></i>

                                        <Dropdown Actions='new() {
                                            { "Edit column", () => _editColumnModal?.Open(column.Id) },
                                            { "Delete column", async () => await OpenDeleteColumnDialog(column) },
                                            { $"{(column.Collapsed ? "Expand" : "Collapse")} column", async () => await ExpandOrCollapseColumn(column.Id) },
                                        }'>
                                            <i class="fa fa-ellipsis icon-button pr-1"></i>
                                        </Dropdown>
                                    </div>
                                }
                            </div>

                            @if(!column.Collapsed) 
                            {
                                <SortableList Id=@($"{COLUMN_PREFIX}{column.Id}") Class="max-h-[75vh] min-h-[1rem] w-full overflow-y-auto" Group="group" Items="column.Cards.Where(x => !x.SnoozedUntil.HasValue).OrderBy(x => x.Index).ToList()" Context="context" OnRemove="OnMovedFromColumn" OnUpdate="OnMovedWithinList">
                                    <SortableItemTemplate>
                                        @if(column.MaxCards == 1)
                                        {
                                            <div class="mt-1"></div>
                                        }
                                        <TaskCard Card="@context" BoardCode="@_board.Code" EditCardModal="_editCardModal" DeleteCardModal="_deleteTaskModal" Members="_members" OnCardUpdated="HandleUpdate" />
                                    </SortableItemTemplate>
                                </SortableList>

                                @if(column.MaxCards == 0 || cardsCount < column.MaxCards) 
                                {
                                    <div data-active=@((_adding == column.Id).ToString()) @onclick="() => StartAddingToColumn(column.Id)" 
                                        class="add rounded-lg select-none p-5 h-min w-full to-task-card">
                                        @if(_adding != column.Id) {
                                            <i class="fa fa-plus text-3xl"></i>
                                            <label>New card</label>
                                        } else {
                                            <div class="flex w-full flex-row items-center justify-between text-sm font-semibold">
                                                <label>Create new card</label>
                                                <i class="fa fa-xmark text-icon" @onclick="() => _adding = -1" @onclick:stopPropagation=true></i>
                                            </div>

                                            <textarea class="h-16 w-full rounded-lg bg-card-bg p-2 text-start text-xs outline-1 outline-typing-outline" 
                                                           value="@_createTaskModel.Text"
                                                           @ref=_textElement
                                                           @oninput='OnTaskTextChanged'
                                                           @onkeydown='async (e) => {
                                                               if(!e.Key.Contains("Enter"))
                                                                    return;

                                                               await AttemptCreateTaskSubmit(column.Id);
                                                           }'
                                                           autofocus placeholder="Describe the task ..." wrap="soft"/>

                                            <hr class="border-t-tab-outline">
                                            <button class="w-full" @onclick="() => AttemptCreateTaskSubmit(column.Id)">Create</button>
                                        }
                                    </div>
                                }
                            }
                        </div>
                    </SortableItemTemplate>
                </SortableList>

                @if (IsAdmin())
                {
                    <div class="add mt-1 mr-12 h-[75vh] min-w-64 rounded-lg px-8" @onclick="() => _createColumnModal?.Open(_board.Id)" style="order: @(_board.Columns.Any() ? _board.Columns.Max(x => x.Id)+1 : 0);">
                        <i class="fa fa-plus text-3xl"></i>
                        <label>New column</label>
                    </div>
                }
            </section>
            
            if(_preferences.ShowStats) 
            {
                <section class="flex w-screen flex-col items-center gap-6 px-2 py-6 md:w-80">
                    <div class="flex w-full flex-row items-center justify-between">
                        <h1>Progress</h1>
                        <i class="fa fa-xmark icon-button" @onclick=SwitchStatsDisplay></i>
                    </div>
                    <div class="flex w-full flex-col gap-8">
                        <!-- Side section -->
                        @if (_board is not null)
                        {
                            var completedCards = _board.Columns.Where(x => x.Finished).SelectMany(x => x.Cards).Where(x => !x.SnoozedUntil.HasValue).Count();
                            var totalCards = _board.Columns.SelectMany(x => x.Cards).Where(x => !x.SnoozedUntil.HasValue).Count();

                            <div class="flex flex-col gap-4">
                                <div class="flex flex-col gap-1">
                                    <div class="flex flex-row justify-between text-xs">
                                        <label>Tasks completed</label>
                                        <label class="text-gray-500">@completedCards/@totalCards</label>
                                    </div>
                                    <div class="grid h-1 w-full rounded-lg">
                                        <div class="z-10 w-24 rounded-lg bg-pink-500 transition-all" style="grid-row: 1; grid-column: 1; width: @(Math.Round((double) completedCards/totalCards*100))%;"></div>
                                        <div class="rounded-lg bg-pink-300" style="grid-row: 1; grid-column: 1;"></div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <Spinner />
                        }
                    </div>
                </section>
            }
        }
        else
        {
            <Spinner />
        }
    </section>
</div>

@code {
    [CascadingParameter(Name = Constants.CascadingParameters.CurrentAccount)]
    private User _user { get; set; } = default!;

    [Parameter]
    public int Id { get; set; } = default!;

    [Parameter]
    public int? CardId { get; set; }

    private const string COLUMN_PREFIX = "column_";

    private Board? _board;
    private List<User> _members = [];

    private CreateColumnModal? _createColumnModal;
    private EditColumnModal? _editColumnModal;
    private EditCardModal? _editCardModal;
    private DeleteConfirmationDialog<Column>? _deleteColumnModal;
    private DeleteConfirmationDialog<Card>? _deleteTaskModal;
    private EditBoardMembershipsModal? _editBoardMembershipsModal;
    private List<ElementReference> _avatars = [];
    private ElementReference Avatars { set => _avatars.Add(value); }
    private ElementReference? _textElement;

    private CreateTaskModel _createTaskModel = new();
    private bool _justAdded;
    private int _adding;
    private BoardPreferencesModel _preferences = new();
    private int? _initialCardId;

    protected override void OnParametersSet()
    {
        if (_board is null || !CardId.HasValue || _initialCardId == CardId)
            return;

        _initialCardId = CardId;
        _editCardModal?.Open(CardId.Value, _members);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        _initialCardId = CardId;

        var boardPreferences = await _protectedLocalStorage.GetAsync<BoardPreferencesModel>(Constants.StorageKeys.BoardPreferences);
        _preferences = (boardPreferences.Success ? boardPreferences.Value : new()) ?? new();

        await HandleUpdate();

        if (_board is null)
            return;

        using var db = _dbContextFactory.CreateDbContext();

        var user = await db.Users
            .Include(x => x.LastVisits)
            .FirstOrDefaultAsync(x => x.Id.Equals(_user.Id));

        if (user is null)
            return;

        user.LastVisitedBoardId = _board.Id;

        var pastVisit = user.LastVisits.FirstOrDefault(x => x.BoardId.Equals(_board.Id));

        if (pastVisit is not null)
            user.LastVisits.Remove(pastVisit);

        user.LastVisits.Add(new LastVisit
        {
            UserId = _user.Id,
            BoardId = _board.Id,
            VisitTime = DateTime.Now
        });

        await db.SaveChangesAsync();

        if(CardId.HasValue)
            _editCardModal?.Open(CardId.Value, _members);

        await MainLayout.UpdateRecentBoard();
    }

    private async Task SwitchStatsDisplay()
    {
        _preferences.ShowStats = !_preferences.ShowStats;

        await _protectedLocalStorage.SetAsync(Constants.StorageKeys.BoardPreferences, _preferences);

        StateHasChanged();
    }

    private int GetColumnIdFromString(string str)
        => Convert.ToInt32(str.Replace(COLUMN_PREFIX, string.Empty));

    private async Task OnMovedWithinList((int oldIndex, int newIndex, string columnId) args)
    {
        using var db = _dbContextFactory.CreateDbContext();

        var targetColumn = db.Columns
            .Include(x => x.Cards)
            .FirstOrDefault(x => x.Id.Equals(GetColumnIdFromString(args.columnId)));

        if(targetColumn is null)
            return;

        IndexHelper.ChangeOrderOfItem(targetColumn.Cards, args.oldIndex, args.newIndex);

        await db.SaveChangesAsync();
        await HandleUpdate();
    }

    private async Task OnColumnMoved((int oldIndex, int newIndex, string _) args)
    {
        using var db = _dbContextFactory.CreateDbContext();

        var targetBoard = db.Boards
            .Include(x => x.Columns)
            .FirstOrDefault(x => x.Id.Equals(Id));

        if(targetBoard is null)
            return;

        IndexHelper.ChangeOrderOfItem(targetBoard.Columns, args.oldIndex, args.newIndex);

        await db.SaveChangesAsync();
        await HandleUpdate();
    }

    private async Task OnMovedFromColumn((int oldIndex, int newIndex, string oldColumnId, string newColumnId, double x, double y) args)
    {
        var oldColumnId = GetColumnIdFromString(args.oldColumnId);
        var newColumnId = GetColumnIdFromString(args.newColumnId);

        using var db = _dbContextFactory.CreateDbContext();

        var targetColumns = await db.Columns
            .Where(x => x.Id.Equals(oldColumnId) || x.Id.Equals(newColumnId))
            .Include(x => x.Cards)
            .ToListAsync();

        var oldColumn = targetColumns.FirstOrDefault(x => x.Id.Equals(oldColumnId));
        var newColumn = targetColumns.FirstOrDefault(x => x.Id.Equals(newColumnId));

        if (oldColumn is null || newColumn is null)
            return;

        if(newColumn.MaxCards != 0 && newColumn.Cards.Count+1 > newColumn.MaxCards)
        {
            MainLayout.RunNotification(new("The card could not be moved to this column due to it being already full.", NotificationType.Fail));
            return;
        }

        var targetCard = oldColumn.Cards.OrderBy(x => x.Index).ElementAtOrDefault(args.oldIndex);

        if (targetCard is null)
            return;

        oldColumn.Cards.Remove(targetCard);

        IndexHelper.FixIndices(oldColumn.Cards);

        foreach(var card in newColumn.Cards)
        {
            if(card.Index >= args.newIndex)
            {
                card.Index++;
            }
        }

        newColumn.Cards.Add(targetCard);
        targetCard.Index = args.newIndex;
        targetCard.ColumnId = newColumnId;

        IndexHelper.FixIndices(newColumn.Cards);

        await db.SaveChangesAsync();
        await HandleUpdate();

        if(newColumn.Finished)
            await _js.InvokeVoidAsync("triggerConfetti", args.x, args.y);
    }

    protected override async Task HandleUpdate()
    {
        _board = await LoadBoardAsync();
        StateHasChanged();
    }

    private async Task OnTaskCreated()
    {
        await RunNotification(typeof(Card), OperationType.Added);

        if(_board is not null && _user.AutomaticCardEdit)
            _editCardModal?.Open(_board.Columns.SelectMany(x => x.Cards).ToList().OrderByDescending(x => x.CreatedAt).First().Id, _members);
    }

    private async Task OnTaskEdited()
    {
        if(_board is null)
            return;

        using var db = _dbContextFactory.CreateDbContext();

        var columns = await db.Columns
            .Include(x => x.Cards)
            .Where(x => x.BoardId.Equals(_board.Id))
            .ToListAsync();

        foreach(var column in columns)
        {
            column.ReorderCards();
        }

        await db.SaveChangesAsync();

        await HandleUpdate();
    }

    private void StartAddingToColumn(int columnId)
    {
        _adding = columnId;

        StateHasChanged();

        _ = FocusCardCreation();
    }

    private async Task FocusCardCreation()
    {
        await Task.Delay(10);

        if (_textElement is null)
            return;

        await _textElement.Value.FocusAsync();
        await InvokeAsync(StateHasChanged);
    }

    private async Task ExpandOrCollapseColumn(int columnId)
    {
        using var db = _dbContextFactory.CreateDbContext();

        var targetColumn = await db.Columns.FirstOrDefaultAsync(x => x.Id.Equals(columnId));

        if(targetColumn is null)
            return;

        targetColumn.Collapsed = !targetColumn.Collapsed;

        await db.SaveChangesAsync();
        await HandleUpdate();
    }

    private async Task<Board?> LoadBoardAsync()
    {
        using var db = _dbContextFactory.CreateDbContext();

        var board = await db.Boards
            .Include(x => x.Columns)
                .ThenInclude(x => x.Cards)
                    .ThenInclude(x => x.CreatedBy)
            .Include(x => x.Columns)
                .ThenInclude(x => x.Cards)
                    .ThenInclude(x => x.Assignees)
            .Include(x => x.Columns)
                .ThenInclude(x => x.Cards)
                    .ThenInclude(x => x.Attachments)
            .Include(x => x.Columns)
                .ThenInclude(x => x.Cards)
                    .ThenInclude(x => x.Subtasks)
            .Include(x => x.Columns)
                .ThenInclude(x => x.Cards)
                    .ThenInclude(x => x.Labels)
            .Include(x => x.Project)
                .ThenInclude(x => x.Memberships)
                    .ThenInclude(x => x.User)
            .Include(x => x.Memberships)
                .ThenInclude(x => x.User)
            .Include(x => x.Columns)
                .ThenInclude(x => x.Cards)
                    .ThenInclude(x => x.TimeRecords)
            .AsNoTracking()
            .FirstOrDefaultAsync(x => x.Id.Equals(Id));

        if(board is null || !board.VerifyAccess(_user))
        {
            MainLayout.RunNotification(new("This board either does not exist or you do not have access.", NotificationType.Fail));
            _navigationManager.NavigateTo("/");
            return null;
        }

        _members = [];

        if (board.Memberships.Any())
            _members.AddRange(board.Memberships.Select(x => x.User));

        if (board.Project.Memberships.Any())
            _members.AddRange(board.Project.Memberships.Select(x => x.User));

        _members = _members.DistinctBy(x => x.Id).ToList();

        StateHasChanged();

        return board;
    }

    private async Task AttemptCreateTaskSubmit(int columnId)
    {
        if (_createTaskModel is null || string.IsNullOrWhiteSpace(_createTaskModel.Text))
            return;

        using var db = _dbContextFactory.CreateDbContext();
        var column = await db.Columns
            .Include(x => x.Cards)
            .FirstOrDefaultAsync(x => x.Id.Equals(columnId));

        if (column is not null)
        {
            var newCard = new Card
            {
                Name = _createTaskModel.Text,
                ColumnId = columnId,
                Index = IndexHelper.GetNextIndex(column.Cards),
                CreatedAt = DateTime.Now,
                Number = await _cardNumberingService.GetNextNumberAsync(Id),
                CreatedById = _user.Id
            };

            if(_user.AutomaticAssign)
            {
                var targetUser = await db.Users.FirstAsync(x => x.Id.Equals(_user.Id));
                newCard.Assignees.Add(targetUser);
            }

            column.Cards.Add(newCard);
            await db.SaveChangesAsync();
        }

        _justAdded = true;
        _createTaskModel = new();

        await OnTaskCreated();
    }

    private bool IsAdmin()
    {
        if(_board is null)
            return false;

        var boardMembership = _board.Memberships.FirstOrDefault(x => x.UserId.Equals(_user.Id));

        if(boardMembership is null)
        {
            var projectMembership = _board.Project.Memberships.FirstOrDefault(x => x.UserId.Equals(_user.Id));

            if(projectMembership is null)
                return false;

            return projectMembership.IsAdmin;
        }

        return boardMembership.IsAdmin;
    }

    private void OnTaskTextChanged(ChangeEventArgs e)
    {
        if(_justAdded)
        {
            _justAdded = false;
            return;
        }

        if (e.Value?.ToString() is not string str)
            return;

        _createTaskModel.Text = str.ReplaceLineEndings(" ");

        StateHasChanged();
    }

    private async Task OpenDeleteColumnDialog(Column column)
    {
        ArgumentNullException.ThrowIfNull(_deleteColumnModal);

        await _deleteColumnModal.OpenDialog(column, async () =>
        {
            using var db = _dbContextFactory.CreateDbContext();

            var targetBoard = await db.Boards
                .Include(x => x.Columns)
            .FirstOrDefaultAsync(x => x.Id.Equals(column.BoardId));

            if (targetBoard is null)
                return;

            targetBoard.Columns.FixIndices();

            await db.SaveChangesAsync();
        });
    }
}

