@page "/settings"
@using Ticky.Base.Entities
@inject IDbContextFactory<DataContext> _dbContextFactory
@inject ILogger<UserSettings> _logger
@inject AvatarService _avatarService
@inherits NotifiableBase

<div class="h-screen w-full">
    <section class="flex w-full max-w-4xl grow flex-col gap-5 overflow-y-auto px-12 py-14">
        <header class="flex flex-row justify-between text-2xl font-bold">
            User settings
        </header>

        <section
            class="flex w-full flex-row flex-wrap items-center justify-start gap-1 rounded-lg border border-gray-400 px-1 py-1 text-sm">
            <div data-active='@(_tab == 1 ? "true" : "false")' class="settings-menu-item" @onclick="() => GoToTab(1)">General</div>
            <div data-active='@(_tab == 2 ? "true" : "false")' class="settings-menu-item" @onclick="() => GoToTab(2)">Avatar</div>
        </section>

        <section class="flex w-full flex-col divide-y divide-gray-400">
            @if (_tab == 1)
            {
                <div class="flex flex-col py-5">
                    <label class="font-bold">General settings</label>
                    <label class="text-sm opacity-70">All the most important settings for your profile, which do not belong to any other categories.</label>
                </div>

                <div class="settings-item">
                    <div class="flex flex-col text-sm">
                        <label class="font-bold opacity-90">Advanced card settings after creation</label>
                        <label class="w-4/5 max-w-2xl opacity-70">Changes, whether the large modal for setting up a card should open
                            after creating a card on the board.</label>
                    </div>

                    <input type="checkbox" class="switch" value=@_user.AutomaticCardEdit @onchange=OnAutomaticCardEditChanged>
                </div>

                <div class="settings-item">
                    <div class="flex flex-col text-sm">
                        <label class="font-bold opacity-90">Delete without confirmation</label>
                        <label class="w-4/5 max-w-2xl opacity-70">This defines whether you should receive a confirmation pop-up whenever you
                            initiate a deletion of an object.</label>
                    </div>

                    <input type="checkbox" class="switch" value=@_user.InstantDelete @onchange=OnInstantDeleteChanged>
                </div>

                <div class="settings-item">
                    <div class="flex flex-col text-sm">
                        <label class="font-bold opacity-90">Automatic reminder on deadline</label>
                        <label class="w-4/5 max-w-2xl opacity-70">
                            This option sets whether you will automatically be reminded about a card's deadline at the start of the day.
                        </label>
                    </div>

                    <input type="checkbox" class="switch" value=@_user.AutomaticDeadlineReminder @onchange=OnAutomaticDeadlineReminderChanged>
                </div>
            } else if(_tab == 2)
            {
                <div class="flex flex-col py-5">
                    <label class="font-bold">Avatar</label>
                    <label class="text-sm opacity-70">Here you can change your profile picture.</label>
                </div>

                <div class="flex flex-row items-center justify-around py-5">
                    <div class="flex flex-col items-center">
                        <div class="h-60 w-60 bg-cover bg-center" 
                            style="background-image: url('@Constants.ACCESS_UPLOADED_IMAGES_PATH/@_user.ProfilePictureFileName?v=@DateTime.Now.Ticks');"/>
                        <label>Full image</label>
                    </div>

                    <div class="flex flex-col items-center">
                        <div 
                            class="h-32 w-32 rounded-full bg-cover bg-center" 
                            style="background-image: url('@Constants.ACCESS_UPLOADED_IMAGES_PATH/@_user.ProfilePictureFileName?v=@DateTime.Now.Ticks');"/>
                        <label>Rounded version</label>
                    </div>

                    <div class="flex flex-col items-center">
                        <div 
                            class="h-8 w-8 rounded-full bg-cover bg-center" 
                            style="background-image: url('@Constants.ACCESS_UPLOADED_IMAGES_PATH/@_user.ProfilePictureFileName?v=@DateTime.Now.Ticks');"/>
                        <label>Avatar version</label>
                    </div>
                </div>

                <div class="py-5">
                    @if(_isLoading)
                    {
                        <Spinner/>
                    }

                    <div class="flex flex-row justify-end gap-5">
                        <label class="label-as-button w-min cursor-pointer px-5 py-2" for="file-upload">Upload</label>
                        <InputFile class="hidden" id="file-upload" OnChange="OnFileChanged"/>
                        <button class="bg-slate-500 px-5 py-2 hover:bg-slate-900" @onclick="RestoreToOriginal">Reset</button>
                    </div>
                </div>


            }
        </section>
    </section>
</div>

@code {
    [CascadingParameter(Name = Constants.CascadingParameters.MainLayout)]
    private MainLayout _mainLayout { get; set; } = default!;

    [CascadingParameter(Name = Constants.CascadingParameters.CurrentAccount)]
    private User _user { get; set; } = default!;

    private int _tab = 1;

    private IBrowserFile? _uploadedFile;

    private bool _isLoading;

    private void GoToTab(int tabNumber) {
        _tab = tabNumber;
    }

    private async void OnInstantDeleteChanged(ChangeEventArgs e)
    {
        if (e.Value is not bool val)
            return;

        using var db = _dbContextFactory.CreateDbContext();

        var user = await db.Users.FirstOrDefaultAsync(x => x.Id.Equals(_user.Id));

        if (user is null)
            return;

        user.InstantDelete = val;

        await db.SaveChangesAsync();
    }

    private async void OnAutomaticCardEditChanged(ChangeEventArgs e)
    {
        if (e.Value is not bool val)
            return;

        using var db = _dbContextFactory.CreateDbContext();

        var user = await db.Users.FirstOrDefaultAsync(x => x.Id.Equals(_user.Id));

        if (user is null)
            return;

        user.AutomaticCardEdit = val;

        await db.SaveChangesAsync();
    }

    private async void OnAutomaticDeadlineReminderChanged(ChangeEventArgs e)
    {
        if (e.Value is not bool val)
            return;

        using var db = _dbContextFactory.CreateDbContext();

        var user = await db.Users.FirstOrDefaultAsync(x => x.Id.Equals(_user.Id));

        if (user is null)
            return;

        user.AutomaticDeadlineReminder = val;

        await db.SaveChangesAsync();
    }

    private void ShowUploadError(string message)
    {
        _isLoading = false;
        _mainLayout.RunNotification(new Notification($"File upload failed: {message}", NotificationType.Fail));
        StateHasChanged();
    }

    public async Task RestoreToOriginal() 
    {
        var avatarPath = await _avatarService.FetchAvatarAsync(_user.DisplayName);

        using var db = _dbContextFactory.CreateDbContext();
        var user = await db.Users.FirstOrDefaultAsync(x => x.Id.Equals(_user.Id));

        if (user is null)
            return;

        user.ProfilePictureFileName = avatarPath;
        await db.SaveChangesAsync();
        _user = user;

        StateHasChanged();

        _mainLayout.RunNotification(new Notification("Profile picture was reset to the default one."));
    }

    public async Task OnFileChanged(InputFileChangeEventArgs e)
    {
        _isLoading = true;

        if (!e.File.ContentType.Contains("image"))
        {
            ShowUploadError("The file must be an image.");
            return;
        }

        if (e.File.Size > Constants.Limits.MAX_IMAGE_SIZE)
        {
            ShowUploadError("The file is too large.");
            return;
        }

        try
        {
            _uploadedFile = e.File;
            var folderPath = Constants.SAVE_UPLOADED_IMAGES_PATH;

            if (!Directory.Exists(folderPath))
                Directory.CreateDirectory(folderPath);

            var extension = _uploadedFile.Name[(_uploadedFile.Name.LastIndexOf('.') + 1)..];

            string path;
            string trustedFileName;
            do
            {
                trustedFileName = Path.GetRandomFileName();
                trustedFileName = trustedFileName[..trustedFileName.LastIndexOf('.')] + $".{extension}";

                path = Path.Combine(folderPath, trustedFileName);
            } while (File.Exists(path));

            await using FileStream fs = new(path, FileMode.Create);
            await e.File.OpenReadStream(Constants.Limits.MAX_IMAGE_SIZE).CopyToAsync(fs);

            using var db = _dbContextFactory.CreateDbContext();
            var user = await db.Users.FirstOrDefaultAsync(x => x.Id.Equals(_user.Id));

            if(user is null)
            {
                ShowUploadError("An error occured. Try again later.");
                return;
            }

            user.ProfilePictureFileName = trustedFileName;
            _user.ProfilePictureFileName = user.ProfilePictureFileName;

            await db.SaveChangesAsync();

            _mainLayout.RunNotification(new Notification("Profile picture was changed."));
            _isLoading = false;
        }
        catch (Exception ex)
        {
            _logger.LogError($"File upload failed, file name {e.File.Name}, error: {ex}");
            ShowUploadError("An error occured. Try again later.");
        }

        StateHasChanged();
    }
}
